
# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/database.db
backend/uploads/*
!backend/uploads/.gitkeep

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local

# IDE
.github/
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
